<!--
    This launch file starts hardware communication needed in order to control and localize the bot.
-->
<launch>
    <!-- Mowrator direct Pi hardware bridge, no OpenMower low-level board. -->
    <group if="$(eval env('HARDWARE_PLATFORM') == '1' and env('MOWER') == 'Mowrator')">
        <node pkg="mower_hardware" type="mower_hardware" name="hw" unless="$(optenv OM_NO_COMMS False)"
                output="screen" respawn="true" respawn_delay="10">
        </node>
        <node pkg="open_mower" type="battery_voltage_logger.py" name="battery_voltage_logger"
                unless="$(optenv OM_NO_BATTERY_VOLTAGE_LOG False)"
                output="screen" respawn="true" respawn_delay="2">
            <param name="topic" value="/hw/power"/>
            <param name="log_path" value="$(optenv OM_BATTERY_VOLTAGE_LOG_PATH)"/>
            <param name="sample_period" value="$(optenv OM_BATTERY_VOLTAGE_LOG_PERIOD_SEC 1.0)" type="double"/>
            <param name="fsync_each_row" value="$(optenv OM_BATTERY_VOLTAGE_LOG_FSYNC True)" type="bool"/>
            <param name="max_bytes" value="$(optenv OM_BATTERY_VOLTAGE_LOG_MAX_BYTES 10485760)" type="int"/>
            <param name="max_files" value="$(optenv OM_BATTERY_VOLTAGE_LOG_MAX_FILES 5)" type="int"/>
        </node>
        <node pkg="xbot_driver_gps" type="driver_gps_node" name="gps"
                ns="hw/services"
                output="screen"
                respawn="$(eval optenv('OM_GPS_RESPAWN', 'True').lower() == 'true')"
                respawn_delay="5"
                unless="$(optenv OM_NO_GPS False)">
            <param name="rtcm_topic" value="/hw/position/gps/rtcm"/>
            <param name="nmea_topic" value="/hw/position/gps/nmea"/>
            <param name="xb_pose_topic" value="/hw/position/gps"/>
            <param name="wheel_ticks_topic" value="/mower/wheel_ticks"/>
        </node>
    </group>

    <!-- Legacy YardForce/OpenMower v1 low-level-board bridge. Not used by the Mowrator runtime. -->
    <group if="$(eval env('HARDWARE_PLATFORM') == '1' and env('MOWER') != 'Mowrator')">
        <node pkg="mower_comms_v1" type="mower_comms_v1" name="ll" unless="$(optenv OM_NO_COMMS False)"
                output="screen" respawn="true" respawn_delay="10">
        </node>
        <node pkg="xbot_driver_gps" type="driver_gps_node" name="gps"
                ns="ll/services"
                output="screen"
                respawn="$(eval optenv('OM_GPS_RESPAWN', 'True').lower() == 'true')"
                respawn_delay="5"
                unless="$(optenv OM_NO_GPS False)">
            <param name="rtcm_topic" value="/ll/position/gps/rtcm"/>
            <param name="nmea_topic" value="/ll/position/gps/nmea"/>
            <param name="xb_pose_topic" value="/ll/position/gps"/>
            <param name="wheel_ticks_topic" value="/mower/wheel_ticks"/>
        </node>

    </group>

    <!-- v2 if HARDWARE_PLATFORM == 2 -->
    <group if="$(eval env('HARDWARE_PLATFORM') == '2')">
        <group unless="$(optenv OM_NO_COMMS False)">
            <!-- Use V2 Comms -->
            <node pkg="mower_comms_v2" type="mower_comms_v2" name="mower_comms_v2" output="screen" respawn="true" respawn_delay="10">
            </node>
        </group>
    </group>

    <node if="$(eval env('MOWER') == 'Mowrator' or optenv('OM_USE_LSM6DSO_IMU', 'False').lower() == 'true')"
          pkg="open_mower"
          type="lsm6dso_imu_node.py"
          name="lsm6dso_imu"
          output="screen"
          respawn="true"
          respawn_delay="5">
        <param name="bus" value="$(optenv OM_LSM6DSO_I2C_BUS 1)" type="int"/>
        <param name="address" value="$(optenv OM_LSM6DSO_I2C_ADDRESS 0x6B)"/>
        <param name="rate_hz" value="$(optenv OM_LSM6DSO_RATE_HZ 104)" type="double"/>
        <param name="accel_range_g" value="$(optenv OM_LSM6DSO_ACCEL_RANGE_G 4)" type="int"/>
        <param name="gyro_range_dps" value="$(optenv OM_LSM6DSO_GYRO_RANGE_DPS 500)" type="int"/>
        <param name="axis_config" value="$(optenv OM_LSM6DSO_AXIS_CONFIG +X+Y+Z)"/>
        <param name="frame_id" value="$(optenv OM_LSM6DSO_FRAME_ID base_link)"/>
        <remap from="imu" to="/hw/imu/data_raw"/>
    </node>

    <group unless="$(optenv OM_NO_GPS False)">
    <!-- Correction input for both: v1 and v2 -->
        <include if="$(eval optenv('OM_USE_NTRIP', 'True').lower() == 'true' and optenv('OM_USE_RTCM_TCP', 'False').lower() != 'true')"
                 file="$(find open_mower)/launch/include/_ntrip_client.launch"/>
        <node if="$(eval optenv('OM_USE_RTCM_TCP', 'False').lower() == 'true')"
              pkg="open_mower"
              type="rtcm_tcp_bridge.py"
              name="rtcm_tcp_bridge"
              output="screen"
              respawn="true"
              respawn_delay="10">
            <param name="host" value="$(optenv OM_RTCM_TCP_HOSTNAME 127.0.0.1)"/>
            <param name="port" value="$(optenv OM_RTCM_TCP_PORT 5016)"/>
            <remap from="rtcm" to="/hw/position/gps/rtcm"/>
        </node>
    </group>

</launch>
