<launch>
    <arg name="slam_namespace" default="$(optenv OM_SLAM_NAMESPACE slam_toolbox)"/>
    <arg name="raw_scan_topic" default="$(optenv OM_SLAM_RAW_SCAN_TOPIC /hw/lidar)"/>
    <arg name="scan_topic" default="$(optenv OM_SLAM_SCAN_TOPIC /slam_toolbox/scan)"/>
    <arg name="map_frame" default="$(optenv OM_SLAM_MAP_FRAME slam_map)"/>
    <arg name="odom_frame" default="$(optenv OM_SLAM_ODOM_FRAME slam_odom)"/>
    <arg name="origin_frame" default="$(optenv OM_SLAM_ORIGIN_FRAME map)"/>
    <arg name="base_frame" default="$(optenv OM_SLAM_BASE_FRAME slam_base_link)"/>
    <arg name="lidar_frame" default="$(optenv OM_SLAM_LIDAR_FRAME slam_lidar)"/>
    <arg name="map_topic" default="$(optenv OM_SLAM_MAP_TOPIC /slam_toolbox/map)"/>
    <arg name="odom_topic" default="$(optenv OM_SLAM_ODOM_TOPIC /slam_toolbox/local_odom)"/>
    <arg name="twist_topic" default="$(optenv OM_SLAM_TWIST_TOPIC /hw/diff_drive/measured_twist)"/>
    <arg name="imu_topic" default="$(optenv OM_SLAM_IMU_TOPIC /hw/imu/data_raw)"/>
    <arg name="gps_topic" default="$(optenv OM_SLAM_ALIGNMENT_GPS_TOPIC /hw/position/gps)"/>
    <arg name="navsat_topic" default="$(optenv OM_SLAM_ALIGNMENT_NAVSAT_TOPIC /hw/position/gps/fix)"/>
    <arg name="alignment_boundary_sample_topic" default="$(optenv OM_SLAM_ALIGNMENT_BOUNDARY_SAMPLE_TOPIC /area_recorder/boundary_samples)"/>
    <arg name="alignment_status_topic" default="$(optenv OM_SLAM_ALIGNMENT_STATUS_TOPIC /slam_toolbox_alignment/status)"/>
    <arg name="alignment_min_travel_m" default="$(optenv OM_SLAM_ALIGNMENT_MIN_TRAVEL_M 2.0)"/>
    <arg name="alignment_max_residual_m" default="$(optenv OM_SLAM_ALIGNMENT_MAX_RESIDUAL_M 0.35)"/>
    <arg name="alignment_tf_buffer_duration" default="$(optenv OM_SLAM_ALIGNMENT_TF_BUFFER_DURATION 900.0)"/>
    <arg name="alignment_max_boundary_samples" default="$(optenv OM_SLAM_ALIGNMENT_MAX_BOUNDARY_SAMPLES 5000)"/>
    <arg name="alignment_max_status_boundary_pairs" default="$(optenv OM_SLAM_ALIGNMENT_MAX_STATUS_BOUNDARY_PAIRS 600)"/>
    <arg name="alignment_pose_sync_max_lag" default="$(optenv OM_SLAM_ALIGNMENT_POSE_SYNC_MAX_LAG 1.5)"/>
    <arg name="map_resolution" default="$(optenv OM_SLAM_MAP_RESOLUTION 0.05)"/>
    <arg name="max_laser_range" default="$(optenv OM_SLAM_MAX_LASER_RANGE 12.0)"/>
    <arg name="gyro_calibration_seconds" default="$(optenv OM_SLAM_ODOM_GYRO_CALIBRATION_SECONDS 5.0)"/>
    <arg name="gyro_stationary_vx_threshold" default="$(optenv OM_SLAM_ODOM_GYRO_STATIONARY_VX_THRESHOLD 0.03)"/>
    <arg name="gyro_stationary_wz_threshold" default="$(optenv OM_SLAM_ODOM_GYRO_STATIONARY_WZ_THRESHOLD 0.04)"/>
    <arg name="gyro_warning_yaw_rate_threshold" default="$(optenv OM_SLAM_ODOM_GYRO_WARNING_YAW_RATE_THRESHOLD 0.025)"/>
    <arg name="gyro_warning_seconds" default="$(optenv OM_SLAM_ODOM_GYRO_WARNING_SECONDS 2.0)"/>
    <arg name="gyro_calibration_max_abs_offset" default="$(optenv OM_SLAM_ODOM_GYRO_CALIBRATION_MAX_ABS_OFFSET 0.05)"/>
    <arg name="gyro_calibration_max_stddev" default="$(optenv OM_SLAM_ODOM_GYRO_CALIBRATION_MAX_STDDEV 0.01)"/>
    <arg name="gyro_calibration_max_range" default="$(optenv OM_SLAM_ODOM_GYRO_CALIBRATION_MAX_RANGE 0.03)"/>
    <arg name="start_enabled" default="$(optenv OM_SLAM_START_ENABLED False)"/>

    <node pkg="tf" type="static_transform_publisher" name="passive_slam_lidar_static_tf" output="screen"
          args="$(optenv OM_C1_X 0.0) $(optenv OM_C1_Y 0.0) $(optenv OM_C1_Z 0.0) $(optenv OM_C1_YAW 0.0) $(optenv OM_C1_PITCH 0.0) $(optenv OM_C1_ROLL 0.0) $(arg base_frame) $(arg lidar_frame) 100"/>

    <node pkg="open_mower" type="passive_slam_odom.py" name="passive_slam_odom" output="screen" respawn="true" respawn_delay="5">
        <param name="odom_frame" type="string" value="$(arg odom_frame)"/>
        <param name="base_frame" type="string" value="$(arg base_frame)"/>
        <param name="scan_frame" type="string" value="$(arg lidar_frame)"/>
        <param name="odom_topic" type="string" value="$(arg odom_topic)"/>
        <param name="scan_out_topic" type="string" value="$(arg scan_topic)"/>
        <param name="gyro_calibration_seconds" type="double" value="$(arg gyro_calibration_seconds)"/>
        <param name="gyro_stationary_vx_threshold" type="double" value="$(arg gyro_stationary_vx_threshold)"/>
        <param name="gyro_stationary_wz_threshold" type="double" value="$(arg gyro_stationary_wz_threshold)"/>
        <param name="gyro_warning_yaw_rate_threshold" type="double" value="$(arg gyro_warning_yaw_rate_threshold)"/>
        <param name="gyro_warning_seconds" type="double" value="$(arg gyro_warning_seconds)"/>
        <param name="gyro_calibration_max_abs_offset" type="double" value="$(arg gyro_calibration_max_abs_offset)"/>
        <param name="gyro_calibration_max_stddev" type="double" value="$(arg gyro_calibration_max_stddev)"/>
        <param name="gyro_calibration_max_range" type="double" value="$(arg gyro_calibration_max_range)"/>
        <remap from="~imu_in" to="$(arg imu_topic)"/>
        <remap from="~twist_in" to="$(arg twist_topic)"/>
        <remap from="~scan_in" to="$(arg raw_scan_topic)"/>
    </node>

    <group ns="$(arg slam_namespace)">
        <rosparam file="$(find open_mower)/params/slam_toolbox_passive.yaml" command="load"/>
        <param name="mode" type="string" value="mapping"/>
        <param name="scan_topic" type="string" value="$(arg scan_topic)"/>
        <param name="map_frame" type="string" value="$(arg map_frame)"/>
        <param name="odom_frame" type="string" value="$(arg odom_frame)"/>
        <param name="base_frame" type="string" value="$(arg base_frame)"/>
        <param name="map_name" type="string" value="$(arg map_topic)"/>
        <param name="resolution" type="double" value="$(arg map_resolution)"/>
        <param name="max_laser_range" type="double" value="$(arg max_laser_range)"/>
    </group>

    <node pkg="open_mower" type="passive_slam_manager.py" name="$(arg slam_namespace)_manager" output="screen" respawn="true" respawn_delay="5">
        <param name="slam_namespace" type="string" value="$(arg slam_namespace)"/>
        <param name="slam_node_name" type="string" value="$(arg slam_namespace)"/>
        <param name="odom_frame" type="string" value="$(arg odom_frame)"/>
        <param name="origin_frame" type="string" value="$(arg origin_frame)"/>
        <param name="base_frame" type="string" value="$(arg base_frame)"/>
        <param name="publish_origin_transform" type="bool" value="false"/>
        <param name="reset_odom_service" type="string" value="/passive_slam_odom/reset"/>
        <param name="start_enabled" type="bool" value="$(arg start_enabled)"/>
    </node>

    <node pkg="open_mower" type="passive_slam_alignment.py" name="$(arg slam_namespace)_alignment" output="screen" respawn="true" respawn_delay="5">
        <param name="map_frame" type="string" value="$(arg origin_frame)"/>
        <param name="base_frame" type="string" value="base_link"/>
        <param name="slam_map_frame" type="string" value="$(arg map_frame)"/>
        <param name="slam_base_frame" type="string" value="$(arg base_frame)"/>
        <param name="slam_lidar_frame" type="string" value="$(arg lidar_frame)"/>
        <param name="gps_topic" type="string" value="$(arg gps_topic)"/>
        <param name="navsat_topic" type="string" value="$(arg navsat_topic)"/>
        <param name="boundary_sample_topic" type="string" value="$(arg alignment_boundary_sample_topic)"/>
        <param name="manager_status_topic" type="string" value="/$(arg slam_namespace)_manager/status"/>
        <param name="status_topic" type="string" value="$(arg alignment_status_topic)"/>
        <param name="min_travel_m" type="double" value="$(arg alignment_min_travel_m)"/>
        <param name="max_residual_m" type="double" value="$(arg alignment_max_residual_m)"/>
        <param name="tf_buffer_duration" type="double" value="$(arg alignment_tf_buffer_duration)"/>
        <param name="max_boundary_samples" type="int" value="$(arg alignment_max_boundary_samples)"/>
        <param name="max_status_boundary_pairs" type="int" value="$(arg alignment_max_status_boundary_pairs)"/>
        <param name="pose_sync_max_lag" type="double" value="$(arg alignment_pose_sync_max_lag)"/>
    </node>
</launch>
