<!--
    Use this file to test your move_base config. You should be able to move the bot around the map using RVIZ.
-->
<launch>
    <include file="$(find open_mower)/launch/include/_params.launch"/>
    <include file="$(find open_mower)/launch/include/_comms.launch"/>
    <include file="$(find open_mower)/launch/include/_localization.launch"/>
    <include file="$(find open_mower)/launch/include/_direct_gamepad.launch"/>

    <node pkg="open_mower" type="mower_input_router.py" name="mower_input_router" output="screen" respawn="true" respawn_delay="5">
        <param name="default_source" value="$(optenv OM_MANUAL_INPUT_DEFAULT_SOURCE direct_bluetooth)"/>
    </node>

    <node pkg="mower_map" type="mower_map_service" name="map_service" output="screen"/>
</launch>
