<launch>
    <include file="$(find open_mower)/launch/include/_params.launch"/>
    <include file="$(find open_mower)/launch/include/_comms.launch"/>
    <include if="$(eval optenv('OM_USE_C1_LIDAR', 'False').lower() == 'true')" file="$(find open_mower)/launch/include/_c1_lidar.launch"/>
    <include if="$(eval optenv('OM_NO_NAVIGATION', 'False').lower() != 'true')" file="$(find open_mower)/launch/include/_move_base.launch"/>
    <include if="$(eval optenv('OM_NO_LOCALIZATION', 'False').lower() != 'true')" file="$(find open_mower)/launch/include/_localization.launch"/>
    <include if="$(eval optenv('OM_USE_PASSIVE_SLAM', 'False').lower() == 'true')" file="$(find open_mower)/launch/include/_passive_slam.launch"/>
    <include if="$(eval optenv('OM_NO_ROSBRIDGE', 'False').lower() != 'true')" file="$(find open_mower)/launch/include/_rosbridge.launch"/>
    <include if="$(eval optenv('OM_NO_TELEOP', 'False').lower() != 'true')" file="$(find open_mower)/launch/include/_teleop.launch"/>
    <include if="$(eval optenv('OM_NO_RECORDING', 'False').lower() != 'true')" file="$(find open_mower)/launch/include/_record.launch">
        <arg name="prefix" value="mow_area"/>
    </include>


    <node if="$(eval optenv('OM_NO_MAP_SERVICE', 'False').lower() != 'true')" pkg="mower_map" type="mower_map_service" name="map_service" output="screen" respawn="true" respawn_delay="10"/>
    <node if="$(eval optenv('OM_NO_LOGIC', 'False').lower() != 'true')" pkg="mower_logic" type="mower_logic" name="mower_logic" output="screen" respawn="true" respawn_delay="10">
    </node>
    <node if="$(eval optenv('OM_NO_PLANNER', 'False').lower() != 'true')" pkg="slic3r_coverage_planner" type="slic3r_coverage_planner" name="slic3r_coverage_planner" output="screen" respawn="true" respawn_delay="10"/>

    <node if="$(eval optenv('OM_NO_TWIST_MUX', 'False').lower() != 'true')" pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen" respawn="true" respawn_delay="10">
        <remap from="cmd_vel_out" to="/hw/cmd_vel"/>

        <rosparam file="$(find open_mower)/params/twist_mux_topics.yaml" command="load"/>
    </node>

    <node if="$(eval optenv('OM_NO_MONITORING', 'False').lower() != 'true')" pkg="xbot_monitoring" type="xbot_monitoring" name="xbot_monitoring" output="screen" respawn="true"
          respawn_delay="10">
        <remap from="/xbot_monitoring/remote_cmd_vel" to="/joy_vel"/>
    </node>

    <node if="$(eval optenv('OM_NO_MONITORING', 'False').lower() != 'true' and optenv('OM_HEATMAP_SENSOR_IDS', 'UNSET') != 'UNSET')" pkg="xbot_monitoring" type="heatmap_generator" name="heatmap_generator" output="screen" respawn="true"
          respawn_delay="10">
    </node>

    <node if="$(eval optenv('OM_NO_REMOTE', 'False').lower() != 'true')" pkg="xbot_remote" type="xbot_remote" name="xbot_remote" output="screen" respawn="true" respawn_delay="10">
        <remap from="/xbot_remote/cmd_vel" to="/joy_vel"/>
    </node>

    <node if="$(eval optenv('OM_NO_MONITORING', 'False').lower() != 'true')" pkg="mower_logic" type="monitoring" name="monitoring" output="screen" respawn="true" respawn_delay="10"/>
</launch>
